<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="VendorConnectEntities" connectionString="metadata=res://*/VendorConnectModel.csdl|res://*/VendorConnectModel.ssdl|res://*/VendorConnectModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MVC\MSSQL14;initial catalog=DB_A13307_IRPLUploadTest;user id=sa;password=cyberedge@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>